# venv
ML/.venv/

ML/data/

ML/configs/
ML/outputs/

# large weights (both base and trained)
ML/yolov8n.pt
ML/yolov8n-pose.pt
ML/**/*.pt

#server
node_modules
.env
.DS_Store
ML/runs/*/
!ML/runs/corners_11x_640_v2/
!ML/runs/corners_11x_640_v2/weights/
!ML/runs/corners_11x_640_v2/weights/best.pt
!ML/runs/pieces_11x_640_v1/
!ML/runs/pieces_11x_640_v1/weights/
!ML/runs/pieces_11x_640_v1/weights/best.pt
ML/runs/runs.zip
ML/engines/*/
